.pozadi{
    background-image: url('images/pozadi.jpg');
    text-align: center;
}
.obrazek{
    height: 40%;
    width: 40%;
}
.stred{
    text-align: center;
}
.logo{
    height: 20%;
    width: 20%;
}
h1{
    font-family: 'Passion One', cursive;
    color: #FFE81F;
    padding: 4%;
}